rich
markdown
colorama
langchain-core
langchain-community
langchain-ollama
langgraph
halo
pyfiglet
termcolor
xmltodict
pydantic
langchain_openai
wikipedia
yfinance
wolframalpha
stackapi
google-search-results